/* --------------------------------------------- */
/* Fonts */
/* --------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

/* --------------------------------------------- */
/* Document */
/* --------------------------------------------- */
* {
    padding: 0;
    margin: 0;
}

/* --------------------------------------------- */
/* Bootstrap Layout Edit */
/* --------------------------------------------- */

.home-content {
    padding-left: 250px;
    padding-right: 100px;
}

.home-content h1 {
    font-size: 5rem;
}

/* --------------------------------------------- */
/* Bootstrap Layout Edit */
/* --------------------------------------------- */
.row.content {
    height: 100vh;
}

.sidenav {
    background-color: rgb(20, 20, 20);
    padding-top: 20px;
    height: 100%;
}


/* --------------------------------------------- */
/* Profile Details Section */
/* --------------------------------------------- */
#profile-img {
    border-radius: 50%;
    width: 80px;
    width: 100%;
    text-align: center;
}

#user-name {
    text-align: center;
    color: #ddd;
}

#room {
    padding-top: 5px;
    color: #ddd;
    padding-bottom: 5px;
}

.nav li a {
    color: white;
}

.nav li a:hover {
    color: #FF416C;
}

.active a {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C);
    color: #FFFFFF;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

/* --------------------------------------------- */
/* Input Fields */
/* --------------------------------------------- */
#create-room {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-left: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

textarea {
    width: 85%;
    height: 100px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid lightgrey;
    border-radius: 4px;
    background-color: #fafafa;
    resize: none;
}

input[type=text] {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fafafa;
    border: 2px solid lightgrey;
}

/* --------------------------------------------- */
/* Animated button */
/* --------------------------------------------- */

.button {
    display: inline-block;
    border-radius: 4px;
    /* background: #FF416C;
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
    background: linear-gradient(to right, #FF4B2B, #FF416C); */
    background: rgb(20, 20, 20);;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* --------------------------------------------- */
/* Video */
/* --------------------------------------------- */

.video-container {
    width: 100%;
    height: 0px;
    padding-top: 50%;
    position: relative;
}

#conference-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* --------------------------------------------- */
/* Control Buttons*/
/* --------------------------------------------- */
.controls-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    bottom: 0px;
    left: 50%;
    margin-left: -150px;
    padding: 15px;
}

/* Style the action buttons */
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions button {
    display: inline-block;
    margin-right: 5px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.actions button img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 65px;
    cursor: pointer;
}

#change-image-mic:hover,
#change-image-video:hover,
#change-image-share:hover {
    box-shadow: 0 0 5px 1px white;
    border: 1px solid white;
}

#change-image-leave:hover {
    box-shadow: 0 0 5px 1px rgb(204, 20, 20);
    border: 1px solid rgb(204, 20, 20);
}

/* --------------------------------------------- */
/* Scrollable List Group*/
/* --------------------------------------------- */
.list-group {
    overflow-y: scroll;
    height: 130px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.list-group::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.list-group {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* --------------------------------------------------------------------- */
/* Web RTC */
#video-call-div {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    /* display: block; */
    display: none;
}

#local-video {
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px;
    border-radius: 16px;
    max-width: 20%;
    max-height: 20%;
    background: #fff;
}

#remote-video {
    background: #000;
    width: 100%;
    height: 100%;
}

.call-action-div {
    position: absolute;
    left: 45%;
    bottom: 32px;
}

/* make the cursor a pointer */
button {
    cursor: pointer;
}